
<h2 mat-dialog-title>{{titleForm}} Employe</h2>
<mat-dialog-content>

  <form [formGroup]="formEmploye">

    <mat-grid-list cols="1" rowHeight="60px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Pay $</mat-label>
          <input matInput formControlName="pay" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Contract date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="contractDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Departments</mat-label>
          <mat-select formControlName="idDept" (selectionChange)="updateDepartment($event.value)">
            <mat-option *ngFor="let item of departments" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>


  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Back</button>
  <button mat-button color="primary" [disabled]="formEmploye.invalid" (click)="addEdditEmploye()">{{titleButton}}</button>
</mat-dialog-actions>

