<!-- <button nz-button nzType="primary" >Open</button> -->
<div style="margin:20px 0px 0px 20px; height: 80px; width: 80px;">
  <span nz-icon (click)="open()" nzType="filter" nzTheme="outline"></span>
</div>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Modules"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>

    <div *ngIf="visible">

      <div *ngFor="let item of menuItems">

        <div (click)="toggleVisibility(item.name)" style="display: flex; flex-direction: row; align-items: center;">
          <mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="people"></mat-icon>
          <p>{{item.name}}</p>
        </div>

      </div>
    </div>


  </ng-container>
</nz-drawer>
