<!-- <button nz-button nzType="primary" >Open</button> -->
<div style="margin:20px 0px 0px 20px; height: 80px; width: 80px;">
  <button nz-button (click)="open()" nzType="primary" nzShape="circle"><span nz-icon nzType="filter" nzTheme="outline"></span></button>
</div>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Modules"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>

    <div>
      <div  *ngFor="let item of menuItems$ | async" (click)="toggleVisibility(item.name)">
        <div style="margin: 5% 5% 5% 5%; display: flex; flex-direction: row; background-color: whitesmoke;" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <a >{{item.name}}</a>
        </div>

      </div>
    </div>


  </ng-container>
</nz-drawer>
