<div class="centered-component" style="border-color: black;">


<mat-card>
  <mat-card-header>
    <mat-card-title>Set Filters</mat-card-title>
    <mat-card-subtitle>

      <!-- <form formGroupName="campaignTwo">
        <mat-form-field class="example-form-field">
          <mat-label>Contract date range</mat-label>
          <mat-date-range-input
            [formGroup]="campaignTwo"
            [rangePicker]="campaignOnePicker"
            [comparisonStart]="campaignTwo.value.start"
            [comparisonEnd]="campaignTwo.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Min. Pay</mat-label>
          <input matInput formControlName="min">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Max. Pay</mat-label>
          <input matInput formControlName="min">
        </mat-form-field>

      </form> -->

      <form [formGroup]="campaignTwo">
        <mat-form-field class="example-form-field">
          <mat-label>Contract date range</mat-label>
          <mat-date-range-input
            [formGroup]="campaignTwo"
            [rangePicker]="campaignOnePicker"
            [comparisonStart]="campaignTwo.value.start"
            [comparisonEnd]="campaignTwo.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Min. Pay</mat-label>
          <input matInput formControlName="min_pay">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Max. Pay</mat-label>
          <input matInput formControlName="max_pay">  </mat-form-field>
      </form>

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="warn">Reset</button>
    <button mat-button color="primary" (click)="submitFilters()">Apply filter</button>
  </mat-card-actions>
</mat-card>

</div>
